{
    "auth": {
        "identity": {
            "methods": [
                "password"
            ],
            "password": {
                "user": {
                    "name": "{{ username }}",
                    "password": "{{ password }}",
                    "domain": {
                        "name": "{{ user_domain_name }}"
                    }
                }
            }
        },
        "scope": {
            "project": {
                "id": "{{ project_id }}"
            }
        }
    }
}
