{
    "subnet": {
        "name": "{{ item_vpcsubnet.name }}",
        "cidr": "{{ item_vpcsubnet.cidr }}",
        "gateway_ip": "{{ item_vpcsubnet.gateway }}",
{% if item_vpcsubnet.dhcp_enable is defined %}
        "dhcp_enable": {{ item_vpcsubnet.dhcp_enable }},
{% endif %}
{% if item_vpcsubnet.primary_dns is defined %}
        "primary_dns": "{{ item_vpcsubnet.primary_dns }}",
{% endif %}
{% if item_vpcsubnet.secondary_dns is defined %}
        "secondary_dns": "{{ item_vpcsubnet.secondary_dns }}",
{% endif %}
        "availability_zone": "{{ item_vpcsubnet.availability_zone }}",
{% set MyNetName = item_vpcsubnet.net %}
{% set MyQuery = "vpcs[?name=='"+MyNetName+"'].id" %}
        "vpc_id": "{{ vpclist.json | json_query(MyQuery) | join(' ') }}"
    }
}
